<% if signed_in? %>
    <div id="sidebar">
      <p>
        <%= render 'shared/user_info' %>
      </p>
    </div>
    <div id="main">
      <h3><%=link_to "Current recipes", user_recipes_path(current_user)%></h3>
      <%= render 'shared/feed' %>
    </div> 
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Recipe Binder</h1>

    <h2>
      This is the home page for Recipe Binder.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %> 
