<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4> Recipe card for <%= @recipe.title%></h4>
</div>
<div class="modal-body">
  <div>
    <h4>Ingredients</h4>
    <ul>
      <% @ingredients.each do |ingredient| %>
        <li> 
          <%= ingredient.content%>
        </li>
      <%end%>
    </ul>
  </div>
  <div>
    <h4>Method</h4>
    <ol>
      <% @steps.each do |step| %>
        <li> 
          <%= step.content%>
        </li>
      <%end%>
    </ol>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <% if @user == current_user %>
  	<%= link_to 'Edit', edit_user_recipe_path(@user,@recipe), {:id => "editLink", :class => "btn btn-primary"}%>
  <% end %>
</div>

