<div id="recipes">
  <ul class="thumbnails">
    <% @recipes.each do |recipe| %>
      <li class="span2">
        <div class="thumbnail">
          <%= image_tag recipe.image_url(:thumb) if recipe.image? %>
          <h4><%= recipe.title %></h4>
          <p>
      	    <%= link_to "Card", user_recipe_path(@user,recipe), {:id => 'recipeID'}%>
      	    <%= link_to "remove", user_recipe_path(@user,recipe), :id => 'removeRecipe',:confirm => 'Are you sure?', :method => :delete %>
          </p>
        </div>
      </li>  
    <% end %>
  </ul>
</div>
