<div class="col-1-0`">
  <h2> Recipe card for <%= @recipe.title%></h2>	
  <div>
  	<h2>Ingredients</h2>
    <ul>
      <% @ingredients.each do |ingredient| %>
        <li> 
        	<%= ingredient.content%>
        </li>
      <%end%>
    </ul>
  </div>
  <div>
  	<h2>Method</h2>
    <ol>
      <% @steps.each do |step| %>
        <li> 
        	<%= step.content%>
        </li>
      <%end%>
    </ol>
  </div>
  <p>
    <%= link_to 'Edit', edit_user_recipe_path(@user,@recipe), {:id => "editLink"}%>
  </p>
</div>  
