<table id="recipes" class="table">
  <thead>
    <tr>
      <th> Name </th>
      <th> Category </th> 
      <th> Chef </th>
      <th>  </th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= recipe.category %></td>
        <td><%= recipe.chef %></td>
        <td><%= link_to "Card", user_recipe_path(@user,recipe), {:id => 'recipeID'}%></td>
      </tr>
    <%end%>
  </tbody>
</table>

