<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div class="image-placeholder">
        <%= image_tag recipe.image_url(:thumb) if recipe.image? %>
        <div class="title"><%= recipe.title %></div>
        <div class="actions">
      	  <%= link_to "Card", user_recipe_path(@user,recipe), {:id => 'recipeID'}%>
        </div>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
