var form = $('#new_recipe');

<% if @recipe.errors.any? %>

  var errors = $('<ul />');

  <% @recipe.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript(error) %></li>');
  <% end %>

  $('<div />').addClass('.errors').html(errors).prependTo("#new_recipe");

<% else %>
  $('#newRecipeModal').modal('hide');
  form.find('input:text,textarea').val('');

<% end %>

