<% provide(:title, 'Shopping list') %>
<div class="row">
  <div class="span6 offset5">
	<h2>Create a shopping list</h2>
	<%= form_for Item.new, remote: true do |f| %>
	<p>
		<%= f.text_field :name %>
		<%= f.submit "Add", :class => "btn btn-primary btn-success" %>
	</p>
	<% end %>
  </div>
</div>
<div class="row">
	<div class="span6 offset5" id="items">
		<%= render @items %>
	</div>
</div>
