<% provide(:title, 'New shopping list') %>
<h1>New shopping list</h1>

<div id = "newlist" class="row">
  <div class="span8 offset6">
    <%= form_for new_user_shopping_list do |f| %>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
      <%= f.submit "Create list!", class: "btn btn-large btn-success" %>
  </div>
</div>
