* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: DarkSlateGrey;
  font-family: 'Gotham Rounded A','Gotham Rounded B',"proxima-nova-soft",sans-serif;
  font-size: 10pt;
}
h1 {
  font-size: 30px;
  color: white;
  margin-top: 0px;
  margin-bottom: 3px;
} 
html { 
  background: url('wood_1_@2X.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  background: transparent;
  color: green;
  text-decoration: underline;
}

.top-logo {
  font-size: 30px;
  font-family: 'Gotham Rounded A','Gotham Rounded B',"proxima-nova-soft",sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  display: block;
  width: 300px;
  height: 80px;
  border-bottom: 1px solid DarkSlateGrey;
  margin: 0 0 ;
  padding: 25px;
  background-color: #98bf21;
  //background-color: #E18728;
  border-bottom: 1px solid grey;

}
.top-logo a {
  color: white;
  text-decoration: none;
  &:hover, &:focus {
    text-shadow: 0 0 7px white;
    text-decoration: none;
  }
}

.top-logo:before, .top-logo:after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #339933;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    content: "";
    height: 80px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 300px;
    z-index: -1;
}
.top-logo:before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #006600;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    left: 12px;
    top: 12px;
}

$pad: 20px;
$padtop: 40px;
.page-wrap {
    width: 90%;
    height: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #EBF5CC;
}
.grid {
  margin: 0 0 $pad 0;
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-top: $padtop;
  padding-right: $pad;
  padding-left: $pad;
  .grid &:last-of-type {
    padding-right: $pad;
  }
}
.col-1-0 {
  width: 100%;
}
.col-3-4 {
  width: 75%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

a.btn, .btn {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
  zoom: 1;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -box-shadow: 0 1px 3px  rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
a.btn, .btn :hover {
  background: #85FF85; /* old browsers */
  background: -moz-linear-gradient(top, #85FF85 0%, #5DB25D 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85FF85), color-stop(100%,#5DB25D)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e6ff', endColorstr='#8da8d7',GradientType=0 ); /* ie */
}

a.btn-signup{
  font: bold 2em/2.5em sans-serif;
}

.btn-newuser, .btn-signin {
  background: #33CC33;
  font: bold 1em/1.5em sans-serif;
}

.module {
  padding: $pad;
  background: #eee;
}

.module-main {
  padding: $pad;
  background: #eee;
  position: relative;
}
.module-main:before, .module-main:after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #669999;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    content: "";
    height: 100%;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 100%;
    z-index: -1;
}
.module-main:before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #3D5C5C;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    left: 12px;
    top: 12px;;
}
.module-hometitle {
  text-align: center;
  background-color: #A3C266;
  p {
    padding-top: 135px;
  }
}
.module-signup {
  background-color: #A3C266;
}
.module-signin {
  background-color: #A3C266;
}

.formcontainer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 50%;
}
div.single-field {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
}
div.curFocus {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FDECB2;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
label {
    display: block;
    float: left;
    font-size: 1.2em;
    padding-right: 20px;
    width: 100px;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

#nav {
    position: absolute;
    width: 100%;
    list-style: none outside none;
    margin: 0 0 1em;
    padding: 0px;
    text-align: right;
    font-family: 'Gotham Rounded A','Gotham Rounded B',"proxima-nova-soft",sans-serif;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url('menu.gif');
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto auto;
}

#nav li {
    display: inline;
    position: relative;
    color:#FFFFFF;
    //background-color:#98bf21;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
}

#nav a {
    display: inline-block;
    padding: 10px;
    color:#FFFFFF;
    //background-color:#98bf21;
    text-align:center;
    text-decoration:none;
}
#nav ul {
    left: -9999px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    overflow: hidden;
}
#nav ul li {
    display: block;
}
#nav li:hover ul {
    left: 0;
}
#nav li:hover a {
    background: none repeat scroll 0 0 #007e00;
    text-decoration: none;
}
#nav li:hover ul a {
    background: none repeat scroll 0 0 #98bf21;
    text-decoration: none;
}
#nav li:hover ul a:hover {
    background: none repeat scroll 0 0 #007e00;
    text-decoration: none;
}
#nav ul a {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    white-space: nowrap;
}

#nav li#logo {
  float: left;
  font-size: 100%;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.tabs {
  position: relative;
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid green;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid green;
  //border-bottom-style: none;
  //border-left-style: none;
  //border-right-style: none;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
/* footer */

footer {
  position: absolute;
  width: 90%;
  bottom: 0;
  margin-top: 5px;
  height: 0px;
  padding-top: 5px;
  border-top: 1px solid #3D5C5C;
  color: #006600;
  a {
    color: #006600;
    text-decoration: none;
    &:hover {
      color: #006600;
    }
  }
  small {
    float: left;
    margin-left: 10px;
  }
  ul {
    float: right;
    list-style: none;
    margin-right: 10px;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #669999;
    &:last-child {
      border-bottom: 1px solid #669999;
    }
  }
}

/*.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}*/
