* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

html { 
  background: url('wood_1_@2X.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-logo {
  font-size: 30px;
  font-family: 'Gotham Rounded A','Gotham Rounded B',"proxima-nova-soft",sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  display: block;
  width: 300px;
  height: 80px;
  border-bottom: 1px solid DarkSlateGrey;
  margin: 0 0 ;
  padding: 25px;
  background-color: #98bf21;
  //background-color: #E18728;
  border-bottom: 1px solid grey;

}
.top-logo a {
  color: white;
  text-decoration: none;
  &:hover, &:focus {
    text-shadow: 0 0 7px white;
    text-decoration: none;
  }
}

.top-logo:before, .top-logo:after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #339933;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    content: "";
    height: 80px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 300px;
    z-index: -1;
}
.top-logo:before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #006600;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    left: 12px;
    top: 12px;
}

$pad: 20px;
$padtop: 60px;
.page-wrap {
    width: 90%;
    margin: 0px auto;
    background-color: #FFF;
}
.grid {
  background: white;
  margin: 0 0 $pad 0;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-top: $padtop;
  padding-right: $pad;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-3-4 {
  width: 75%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

.module {
  padding: $pad;
  background: #eee;
}

.module-main {
  padding: $pad;
  background: #eee;
  position: relative;
}
.module-main:before, .module-main:after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #669999;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    content: "";
    height: 100%;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 100%;
    z-index: -1;
}
.module-main:before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #3D5C5C;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    left: 12px;
    top: 12px;;
}
/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

#nav {
    position: absolute;
    width: 90%;
    list-style: none outside none;
    margin: 0 0 1em;
    padding: 0px;
    text-align: right;
    font-family: 'Gotham Rounded A','Gotham Rounded B',"proxima-nova-soft",sans-serif;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url('menu.gif');
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto auto;
}

#nav li {
    display: inline;
    position: relative;
    color:#FFFFFF;
    //background-color:#98bf21;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
}

#nav a {
    display: inline-block;
    padding: 10px;
    color:#FFFFFF;
    //background-color:#98bf21;
    text-align:center;
    text-decoration:none;
}
#nav ul {
    left: -9999px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    overflow: hidden;
}
#nav ul li {
    display: block;
}
#nav li:hover ul {
    left: 0;
}
#nav li:hover a {
    background: none repeat scroll 0 0 #007e00;
    text-decoration: none;
}
#nav li:hover ul a {
    background: none repeat scroll 0 0 #98bf21;
    text-decoration: none;
}
#nav li:hover ul a:hover {
    background: none repeat scroll 0 0 #007e00;
    text-decoration: none;
}
#nav ul a {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    white-space: nowrap;
}

#nav li#logo {
  float: left;
  font-size: 100%;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


.tabs {
  position: relative;
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid green;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid green;
  //border-bottom-style: none;
  //border-left-style: none;
  //border-right-style: none;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
/* footer */

footer {
  position: absolute;
  width: 90%;
  bottom: 0;
  margin-top: 5px;
  height: 60px;
  padding-top: 5px;
  border-top: 1px solid #3D5C5C;
  color: #006600;
  a {
    color: #006600;
    text-decoration: none;
    &:hover {
      color: #006600;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

#signup li {
  list-style: none outside none;
  width: 100%;
  padding: 1px;
  margin-bottom: 10px;
}

/*.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}*/