@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* header */

#logo {
  float: left;
  margin: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid green;
  color: green;
  a {
    color: green;
    &:hover {
      color: green;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid gray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
  }
}

.thumbnail {
  position: relative;
  width: 180px;
  height: 270px;
  padding: 5px;
}
.actions {
  position: absolute;
  bottom: 0;
  float: left;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
.modal {
  background-color: white;
}

.modal-header h4 {
  color: #FFFFFF;
}
.modal-body {
  background-color: white;
}

.modal-footer {
  background-color: white;
}

.nav-tabs {
  margin-bottom: 0px;
}
.tab-content {
  border: 1px solid #006600;
  padding-left: 20px;
  padding-bottom: 20px;
}

#editrecipeInfo {
    /* new custom width */
    width: 650px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -325px;
    .tab-content {
      border: none;
      padding-left: 20px;
      padding-bottom: 20px;
    }
    .tab-pane {
      padding-top: 20px;
    }
}

#createRecipe {
  padding: 40px;
  float: right;
}

#ingredients td {
  padding-left: 10px;
  background-color: white;
}//table

#shopping_list td {
  padding-left: 10px;
  background-color: white;
}//table

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}